html {
  scroll-behavior: smooth;
}

body {
  background: #f5f5f5;
  position: relative;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}

h1, h2, h3, h4, h5 {
  font-family: "Montserrat", sans-serif;
}

a {
  cursor: pointer;
}

section {
  margin-top: 100px;
  border-radius: 1rem;
  box-shadow: 0 15px 25px 0 rgba(0, 0, 0, 0.1);
}

.navbar {
  height: 100px;
  transition: 0.3s ease-in-out;
}

.navbar-small {
  height: 60px;
  background: #fff;
}

.navbar-brand {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 500;
}

.nav-item {
  margin: 0 1rem;
}

.nav-link {
  font-size: 15px;
  position: relative;
  padding: 0.5rem 0 !important;
  overflow: hidden;
  cursor: pointer;
}

.nav-link::before {
  content: "";
  width: 100%;
  height: 3px;
  background: #2eca7f;
  position: absolute;
  bottom: 0;
  left: -100%;
  transition: 0.25s ease-in-out;
}

.active .nav-link::before {
  left: 0;
}

.nav-link:hover::before {
  left: 0;
}

/* style home */

.avatar {
  max-width: 280px;
  max-height: 280px;
  overflow: hidden;
  border: 3px solid #fff;
  transition: 0.3s ease-in-out;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
}

.avatar:hover {
  transform: translateY(-10px);
  box-shadow: 0 18px 24px rgba(0, 0, 0, 0.15);
}

.home .block-header h1 {
  font-size: 54px;
  font-weight: 700;
  margin: 5rem 0 0;
}

.home .block-header span {
  font-size: 18px;
  margin: 0.5rem 0;
  display: block;
}

.home .block-header a {
  display: inline-block;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: #fff;
  color: #9e9e9e;
  margin: 0 0.2rem;
  transition: 0.3s ease-in-out;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
}

.home .block-header a:hover {
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);
}

.home .block-header i {
  line-height: 36px;
}

.about-me .block-title h3 {
  font-size: 21px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.about-me p {
  margin-top: 20px;
}

.download-resume .btn {
  background-color: #fff;
  font-size: 14px;
  font-weight: 500;
  color: #212121;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.3);
  transition: 0.3s ease-in-out;
}

.download-resume .btn:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.3);
}

.infor-list li {
  margin: 16px 0;
}

.infor-list li .title {
  width: 100px;
  display: inline-block;
}

.infor-list li .value {
  color: #9e9e9e;
}

/* style copyright */

.copyright {
  font-size: 12px;
  color: #9e9e9e;
  text-align: center;
  height: 36px;
}

.block-header {
  background: #2eca7f;
  border-radius: 1rem 1rem 0 0;
  color: #fff;
}

.block-header h2 {
  font-size: 44px;
  font-weight: 700;
  padding: 2rem 0;
}

.content {
  background: #fff;
  border-radius: 0 0 1rem 1rem;
  padding: 3rem;
  height: auto;
}

.content h3 {
  font-weight: 700;
  font-size: 21px;
  margin-bottom: 30px;
}

.content h3 span {
  color: #2eca7f;
}

/* contact */

.contact .content li {
  margin: 15px 0;
}

.contact .content li .icon {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: #fafafa;
  color: #2eca7f;
  display: inline-block;
  text-align: center;
  margin-right: 15px;
}

.contact .content li .icon i {
  line-height: 36px;
}

.contact .content li .value {
  font-size: 14px;
  font-weight: 700;
}

/* end contact */

/* products */

.products-filter {
  display: flex;
  width: 240px;
  margin: auto;
  margin-bottom: 3rem;
  justify-content: space-between;
}

.products-filter li.active a {
  color: #fff;
  background: #2eca7f;
}

.products-filter li.active a:hover {
  color: #fff;
  background: #2eca7f;
}

.products-filter a:hover {
  background: #ecf0f1;
}

.products-filter li a {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
  border-radius: 3px;
  transition: 0.25s ease-in-out;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
}

.products-item {
  width: 32.5%;
  margin: 0 5px 5px 0;
  overflow: hidden;
}

.products-item a {
  text-decoration: none;
}

.bg-item {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  visibility: hidden;
}

.products-item:nth-child(odd) .bg-item {
  background: #2ecc70b6;
}

.products-item:nth-child(even) .bg-item {
  background: #9b59b6b6;
}

.bg-item .line-top {
  width: 90%;
  height: 2px;
  position: absolute;
  left: 5%;
  top: 5%;
}

.bg-item .line-bottom {
  width: 90%;
  height: 2px;
  position: absolute;
  left: 5%;
  bottom: 5%;
}

.bg-item .line-left {
  height: 90%;
  width: 2px;
  position: absolute;
  left: 5%;
  top: 5%;
}

.bg-item .line-right {
  height: 90%;
  width: 2px;
  position: absolute;
  right: 5%;
  top: 5%;
}

.bg-item .line {
  background: #fff;
  opacity: 0;
  transform: scale(0);
}

.bg-item h5 {
  color: #fff;
  position: absolute;
  top: 45%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  font-weight: 700;
  font-size: 1rem;
}

.bg-item small {
  color: #fff;
  position: absolute;
  opacity: 0;
  top: 60%;
  left: 50%;
  transform: translateX(-50%);
}

.products-item:hover h5 {
  opacity: 1;
  top: 50%;
  transition: 0.3s 0.3s;
}

.products-item:hover small {
  opacity: 1;
  top: 55%;
  transition: 0.3s 0.3s;
}

.products-item:hover .line {
  opacity: 1;
  transform: scale(1);
  transition: 0.25s linear 0.3s;
}

.products-item.from-left .bg-item {
  animation: form-left 0.35s forwards;
}

@-webkit-keyframes form-left {
  0% {
    transform: translateX(-100%);
    visibility: hidden;
  }
  100% {
    transform: translateX(0);
    visibility: visible;
  }
}

.products-item.from-right .bg-item {
  animation: form-right 0.35s forwards;
}

@-webkit-keyframes form-right {
  0% {
    transform: translateX(100%);
    visibility: hidden;
  }
  100% {
    transform: translateX(0);
    visibility: visible;
  }
}

.products-item.from-top .bg-item {
  animation: form-top 0.35s forwards;
}

@-webkit-keyframes form-top {
  0% {
    transform: translateY(-100%);
    visibility: hidden;
  }
  100% {
    transform: translateY(0);
    visibility: visible;
  }
}

.products-item.from-bottom .bg-item {
  animation: form-bottom 0.35s forwards;
}

@-webkit-keyframes form-bottom {
  0% {
    transform: translateY(100%);
    visibility: hidden;
  }
  100% {
    transform: translateY(0);
    visibility: visible;
  }
}

.products-item.to-left .bg-item {
  animation: to-left 0.35s forwards;
}

@-webkit-keyframes to-left {
  0% {
    transform: translateX(0);
    visibility: visible;
  }
  100% {
    transform: translateX(-100%);
    visibility: hidden;
  }
}

.products-item.to-right .bg-item {
  animation: to-right 0.35s forwards;
}

@-webkit-keyframes to-right {
  0% {
    transform: translateX(0);
    visibility: visible;
  }
  100% {
    transform: translateX(100%);
    visibility: hidden;
  }
}

.products-item.to-top .bg-item {
  animation: to-top 0.35s forwards;
}

@-webkit-keyframes to-top {
  0% {
    transform: translateY(0);
    visibility: visible;
  }
  100% {
    transform: translateY(-100%);
    visibility: hidden;
  }
}

.products-item.to-bottom .bg-item {
  animation: to-bottom 0.35s forwards;
}

@-webkit-keyframes to-bottom {
  0% {
    transform: translateY(0);
    visibility: visible;
  }
  100% {
    transform: translateY(100%);
    visibility: hidden;
  }
}

/* end prodcuts */

/* button scroll to top */

.scroll-top {
  width: 40px;
  height: 40px;
  background: #2eca7f;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  text-align: center;
  position: fixed;
  bottom: 5px;
  right: 5px;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease-in-out;
}

.scroll-top i {
  line-height: 40px;
}

.show {
  opacity: 1;
  visibility: visible;
}

/* end button scroll to top */

@media(max-width: 992px) {
  .products-item {
    width: 49%;
  }
}

@media(max-width: 768px) {
  .products-item {
    width: 100%;
  }
}

@media(max-width: 576px) {
  .navbar {
    background: #bdc3c7;
    height: 60px;
  }
  .navbar-collapse {
    background: #ecf0f1;
    position: absolute;
    width: 200px;
    top: 60px;
    right: 0;
  }
  .navbar-small {
    background: #bdc3c7;
  }
}